<div class="row">
  <div>
    <%= form_tag '/', method: :put, multipart: true do %>
      <div class="input-form-border">
        <%= text_field_tag :auth_token, nil, placeholder: 'auth_token' %>
      </div>
      <div class="input-form-border">
        <%= file_field_tag :avatar %>
      </div>

      <%= submit_tag 'Change avatar', class: 'btn btn-primary btn-save' %>
    <% end %>
  </div>
</div>